@media (min-width: 102px) {

  #datatablesSimple th:nth-child(6),
  #datatablesSimple td:nth-child(6) {
    display: none;
  }
  #datatablesSimple th:nth-child(7),
  #datatablesSimple td:nth-child(7) {
    display: none;
  }
  
  #datatablesSimple th:nth-child(8),
  #datatablesSimple td:nth-child(8) {
    display: none;
  }
  #datatablesSimple th:nth-child(9),
  #datatablesSimple td:nth-child(9) {
    display: none;
  }
  
  #datatablesSimple th:nth-child(10),
  #datatablesSimple td:nth-child(10) {
    display: none;
  }
  
  #datatablesSimple th:nth-child(11),
  #datatablesSimple td:nth-child(11) {
    display: none;
  }

  #datatablesSimple th:nth-child(12),
  #datatablesSimple td:nth-child(12) {
    display: none;
  }
  #datatablesSimple th:nth-child(13),
  #datatablesSimple td:nth-child(13) {
    display: none;
  }
  
  #datatablesSimple th:nth-child(14),
  #datatablesSimple td:nth-child(14) {
    display: none;
  }

  #datatablesSimple th:nth-child(15),
  #datatablesSimple td:nth-child(15) {
    display: none;
  }
  #datatablesSimple th:nth-child(16),
  #datatablesSimple td:nth-child(16) {
    display: none;
  }
  #datatablesSimple th:nth-child(17),
  #datatablesSimple td:nth-child(17) {
    display: none;
  }
  #datatablesSimple th:nth-child(18),
  #datatablesSimple td:nth-child(18) {
    display: none;
  }
  #datatablesSimple th:nth-child(19),
  #datatablesSimple td:nth-child(19) {
    display: none;
  }
} 


/* Styles spécifiques à cette page */
        body {
            background-color: #f8f9fa;
        }

        .sb-sidenav {
            background-color: #343a40;
        }

        .sb-sidenav-menu-heading {
            color: #ffffff;
        }

        .sb-nav-link {
            color: #ffffff;
        }

        .sb-sidenav-footer {
            background-color: #343a40;
            color: #ffffff;
        }

        .container {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .table {
            background-color: #ffffff;
        }
