
<!DOCTYPE html>
<html>
  <head>
    <title>Boutons d'information</title>
    <script>
      function toggleInfo(buttonId, infoId) {
        var button = document.getElementById(buttonId);
        var info = document.getElementById(infoId);
        if (info.style.display === "none") {
          info.style.display = "block";
          button.innerHTML = "Cacher les informations";
        } else {
          info.style.display = "none";
          button.innerHTML = "Afficher les informations";
        }
      }
    </script>
  </head>
  <body>
    <h1>Boutons d'information</h1>
    <button id="button1" onclick="toggleInfo('button1', 'info1')">Afficher les informations</button>
    <div id="info1" style="display: none;">
      <p>Ceci est la première information.</p>
    </div>
    <button id="button2" onclick="toggleInfo('button2', 'info2')">Afficher les informations</button>
    <div id="info2" style="display: none;">
      <p>Ceci est la deuxième information.</p>
    </div>
  </body>
</html>





<div id="rapport-form" style="display: none;">
                            <!-- Contenu rappport -->
                            <div class="card-body">
                                <form action="POST" style="width: 90%; margin: 20PX;">
                                    <textarea name="pc-textarea" id="pclu-textarea" cols="30" rows="12"></textarea>
                                    <div style="margin: 20px;  text-align: center;">
                                        <input type="button" value="envoyer" class="btn btn-primary">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="visualisation-content" style="display: none;">
                            <!-- contenu visualisation de contenue du rapport-->
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>id</th>
                                                <th>date</th>
                                                <th>contenue</th>
                                                <th>action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- <repeat group="{{ @rapport }}" value="{{ @rapport }}">
                                                <tr>
                                                    <td>{{ @rapport.id_rapport }}</td>
                                                    <td>{{ @rapport.date_rapport }}</td>
                                                    <td>{{ @rapport.descriptions }}</td>
                                                    <td>
                                                        <a href="#" class="btn btn-primary">voir</a>
                                                        <a href="#" class="btn btn-danger">supprimer</a>
                                                    </td>
                                                </tr>
                                            </repeat> -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>



        public function addRapport(){
        new Session();
        $login = $this->f3->get("SESSION.login");
        $password = $this->f3->get("SESSION.password");

        if(isset($login) && isset($password)){
            $rapport = new Rapports($this->db);

            $contenues = $_POST['contenues'];
            $rapport->descriptions = $contenues;
            $rapport->date_creation = date("Y-m-d H:i:s");
            $rapport->save();
            echo Template::instance()->render("rapport_admin.html");
        }else{
            echo Template::instance()->render("404.html");
        }
    }
                        