<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="{{ @BASE . '/accueil_now/'}}">COMMISSARIAT</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar Search-->

    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <button type="button" class="btn btn-primary position-relative pt-10"
                style="margin: 10px 10px 0 10px;"
            >
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    1
                    <span class="visually-hidden">unread messages</span>
                </span>
                <i class="fas fa-bell"></i> <!-- Remplace le texte par une icône d'inbox -->
            </button>
            <p style="color: aliceblue;
                    text-transform: uppercase;
                    font-weight: bold;
                    margin-top: 10px;
                    ">{{@SESSION.login}}</p>
            <!-- <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button> -->

        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <!-- <li><hr class="dropdown-divider" /></li> -->
                <li><a class="dropdown-item" href="{{ @BASE . '/admin/deconnection'}}">
                        <i class="fa fa-power-off btn-danger fa-1x" style="background-color: red"
                            aria-hidden="true"></i>
                        <span style="font-weight: bold;">Deconnection</span>
                    </a></li>
            </ul>
        </li>
    </ul>
</nav>



